@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Thin.ttf");
}

* { 
  font-family: "Roboto", monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  
  background: linear-gradient(to right, rgb(83, 105, 148), rgb(41, 46, 73));
}