.tag {
    font-size: 40px;
    border: 5px solid;
    color: black;
}

ul, ol {
    padding: 0;
}

.tag label {
    font-size: 25px;
    vertical-align: top;
    padding: 0 5px 3px 3px;
    margin-right: 10px;
    color: rgb(255, 255, 255);
    text-align: left;
}